<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("tr").click(function(){
                var id = $(this).attr("name-id")
                var tr = this
                $.ajax({
                    method: "PATCH",
                    url: "/unwant_names/" + id,
                }).done(function( msg ) {
                    if(msg === "removed"){
                        $(tr).removeClass("removed")
                    } else if(msg === "created") {
                        $(tr).addClass("removed")
                    }
                });
            });
            $(".top_btn").click(function(){
                if($("table").hasClass("h")){
                    $("table").removeClass("h");
                } else {
                    $("table").addClass("h");
                }
            })
        });
    </script>
    <style type="text/css">
        .removed { background-color: gray }
        .h .removed { display: none }
        .top_btn {position: sticky; top:10px;left:10px;}
    </style>
</head>
<body>
    <button class="top_btn">隱藏/取消隱藏</button>
    <table border="1 solid">
        {{ range .Names }}
            {{ if .Unwant }}
            <tr name-id="{{ .Id }}" class="removed">
            {{ else }}
            <tr name-id="{{ .Id }}">
            {{ end }}
                <td>{{ range .Words }}{{ .Word }}{{ end }}</td>
                <td>{{ range .Words }}{{ .Bopomofo }}<br>{{ end }}</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>